img{
	max-width: 100%;
}
header{
	background-color: #323232;
	padding-top: 30px;
}
section{
	padding-left: 80px;
	padding-right: 80px;
	border-bottom: 2px dashed #AAAAAA;
}
h2{
	padding-left: 30%;
	font-weight: lighter;
	margin-left: 47%;
	font-size: 40px;
	color: white;
}
h1{
	font-size: 40px;
	color: white;
	font-weight: bolder;
}
ol{
	text-decoration: none;
	margin-left: 20%;
	margin-top: 20px;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: #E23C3C;
}
li{
	display: inline-block;
	margin-right: 10px;
}
h3{
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 10px;
}
p{
	font-size: 17px;
	margin-bottom: 10px;
}
.latest{
	margin-top: 30px;
	color: #3C3C3C;
	margin-bottom: 0px;
}
.enlace-work{
	color: #818181;
}
.enlace-work:hover{
	color: black;
}
h4{
	font-size: 16px;
}
input{
	margin-top: 20px;
	color: white;
	font-weight: bold;
	background-color: #6B6B6B;
	width: 100px;
	height: 30px;
	-moz-border-radius: 10px;
   -webkit-border-radius: 10px;
    border-radius: 10px;
}
.main{
	font-size: 16px;
	padding-right: 23px;
}
#icon-eye{
	margin-left: 50px;
	color: #BBBBBB;
	font-size: 13px;
}
#icon-heart{
	color: #BBBBBB;
	font-size: 13px;
}
.load-button{
	padding-left:  45%;
}
.twiter-icon{
	margin-top: 50px;
}
.twiter-icon i{
	font-size: 100px;
	color: #A7A7A7;
}
.twiter-icon input{
	margin-top: 0px;
}
h5{
	font-size: 25px;
	font-family: cursive;
	margin: 90px 0px 50px 30px;
	color: #575757;
}
.enlace-theme{
	color: #ED3D62;
}
footer{
	background-color: #323232;
	padding: 30px 20px 30px 20px;
}
footer h1{
	color: #9D9D9D;
}
footer h2{
	color: #5F5F5F;
	padding-left: 25px;
	margin-right: 0px;
	padding-right: 0px;
}
.p-footer{
	font-size: 15px;
	color: #D4D4D4;
	padding: 5px 5px 5px 0px;
	text-align: center;
}
h6{
	color: #ED3D62;
	font-size: 15px;
}
footer p{
	color: #D4D4D4;
}