img{
	max-width: 100%;
}
header{
	background-color: #323232;
	padding-top: 30px;
}
section{
	padding-left: 50px;
	padding-right: 50px;
	border-bottom: 2px solid #AAAAAA;
}
h2{
	padding-left: 30%;
	font-weight: lighter;
	margin-left: 47%;
	font-size: 40px;
	color: white;
}
h1{
	font-size: 40px;
	color: white;
	font-weight: bolder;
}
ol{
	text-decoration: none;
	margin-left: 20%;
	margin-top: 20px;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: #E23C3C;
}
li{
	display: inline-block;
	margin-right: 10px;
}
h3{
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 10px;
}
p{
	font-size: 17px;
	margin-bottom: 10px;
}
.latest{
	margin-top: 30px;
	color: #3C3C3C;
	margin-bottom: 0px;
}
ul{
}
.enlace-work{
	color: #818181;
}
.enlace-work:hover{
	color: black;
}
input{
	margin-top: 20px;
	color: white;
	font-weight: bold;
	background-color: #6B6B6B;
	width: 100px;
	height: 30px;
	-moz-border-radius: 10px;
   -webkit-border-radius: 10px;
    border-radius: 10px;
}
.main{
	font-size: 16px;
	padding-right: 23px;
}
.load-button{
	padding-left:  45%;
}


footer{
	background-color: #323232;
}